@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">



<div class="container bg-light">
    <div class="row">
        <br />
        <br />
        <h2>Contact Us </h2>
        <br />
        <br />
        <h5>We are delighted to help you with all your Travel needs to go to your desired destination.</h5>
        <br />
        <h5>Transform your ideas into travel experience and peacfully enjoy the nature with ShriGo</h5>
        <br />
        <h5>
            At ShriGo, we help customers unlock the full comfortable single, family and business ride with safety and security.
            We build your journey that feels safe, secure and peaceful
            .
        </h5>
        <br />
        <h3>Our Services Include:</h3>
        <br />
        <ul class="text-opacity-25" style="margin-left:40px">
            <li>Cab service</li>

            <li>Cab Rental services</li>

        </ul>
        <br />
        <p>👥 Trusted by small, large and happy local, national families. </p>
        <br />
        <p>🌍 Travel with us</p>

        <br />
        <h3>Please feel free to contact: </h3>
        <p>📞 +91 8374499001 -Pavan B </p>
        <p class="glyphicon glyphicon-envelope"> shripavanb@shrigo.in </p>
        <p>🌐 Visit: [<a href="https://shrigo.in/" target="_blank">shrigo.in</a>]</p>



    </div>
</div>