/*-------------Customer Say ----------------------------------*/
.rowcustomersay {
    height: 500px;
    width: 100%;
    text-align: center;
    background-color: floralwhite;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

    .carousel-indicators li.active {
        background-color: #f4511e;
    }

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

ul {
    list-style-type: none; /* This removes the bullets */
    margin: 0; /* Optional: Removes default margin */
    padding: 0; /* Optional: Removes default padding */
}
